.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 220vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.navbar div {
  list-style-type: none;
  display: flex;
  gap: 30px;
}